---
import Layout from "../layouts/Layout.astro";
import BlurBlobs from "../components/BlurBlobs.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full max-w-[940px] mx-auto py-44 relative">
      <!-- Background blur -->
      <!-- Text -->
      <h1 class="font-extrabold text-7xl px-0 pb-4 relative">
        I'm Julian Eggle.
      </h1>
      <h2 class="text-xl relative max-w-[700px]">
        Full Stack wizard turning coffee into code. Vel ipsam, labore velit
        porro, magni, excepturi eaque laborum cupiditate ullam facilis fugiat
        nobis dignissimos.
      </h2>
    </section>
    <!-- <section class="w-full max-w-[940px] mx-auto py-12 relative">
      <BlurBlobs />
    </section> -->
  </main>
</Layout>
