---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ContactBanner from "../components/ContactBanner.astro";
import BtnElevator from "../components/BtnElevator.astro";
import profilePic from "../assets/lele.webp";
---

<Layout title="Julian's portfolio">
  <main class="space-y-8">
    <!-- Main header -->
    <section
      class="max-w-[1120px] mx-auto rounded-[24px] p-4 sm:p-12 bg-white border border-gray-300 shadow sm:grid sm:gap-4 sm:grid-cols-3"
    >
      <div class="mb-8 sm:col-span-2">
        <h1 class="font-bold text-7xl px-0 pb-4 relative">I'm Julian Eggle.</h1>
        <h2 class="text-xl relative max-w-[700px] mx-auto">
          A software developer with strong focus on the user experience, who
          loves cracking problems and creating innovative solutions with
          Javascript.
        </h2>
        <BtnElevator
          title="Contact me"
          titleHover="Send email"
          href="#"
          color="indigo-950"
        />
      </div>
      <Image
        class="w-full aspect-square rounded-[24px]"
        src={profilePic}
        alt="profile picture"
        loading="eager"
      />
    </section>

    <!-- Experience -->
    <section
      class="w-full max-w-[1120px] h-80 mx-auto bg-white rounded-[24px] border border-gray-300 shadow p-7 hover:border-gray-400 transition"
    >
      <div class="max-w-[1120px]">
        <h3 class="text-3xl font-bold">Professional experience</h3>
        <hr class="w-16 h-1 mt-2 mb-6 bg-amber-400 border-0 rounded" />
      </div>
    </section>

    <!-- Projects -->

    <section
      class="w-full max-w-[1120px] mx-auto bg-white rounded-[24px] border border-gray-300 shadow p-7 hover:border-gray-400 transition"
    >
      <div class="max-w-[1120px]">
        <h3 class="text-3xl font-bold">Selected works</h3>
        <hr class="w-16 h-1 mt-2 mb-6 bg-amber-400 border-0 rounded" />
      </div>
    </section>

    <!-- Contact banner -->
    <ContactBanner />
  </main>
</Layout>
