---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ContactBanner from "../components/ContactBanner.astro";
import BtnElevator from "../components/BtnElevator.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import profilePic from "../assets/lele.webp";
import GithubIcon from "../icons/Github.astro";
import DownloadIcon from "../icons/Download.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SendEmailIcon from "../icons/SendEmail.astro";
import VueIcon from "../icons/Vue.astro";
---

<Layout title="Julian's portfolio">
  <main class="space-y-3 md:space-y-6">
    <!-- Main header -->
    <section
      class="max-w-[1120px] mx-auto rounded-[24px] p-4 sm:p-12 bg-white border border-gray-300 shadow sm:grid sm:gap-4 sm:grid-cols-3"
    >
      <div class="mb-8 sm:col-span-2">
        <h1 class="font-bold text-6xl sm:text-7xl px-0 pb-4 relative">
          I'm Julian Eggle.
        </h1>
        <h2 class="text-xl relative max-w-[700px] mx-auto">
          Full-stack developer with strong focus on the user experience, who
          loves cracking problems and creating innovative solutions with
          Javascript.
        </h2>
        <div class="flex flex-wrap gap-x-4">
          <BtnElevator
            title="LinkedIn"
            titleHover="Let's connect"
            href="https://www.linkedin.com/in/julian-eggle/"
            tono="indigo-950"
          >
            <LinkedInIcon class="size-7" />
          </BtnElevator>
          <BtnElevator
            title="Github"
            titleHover="The hustle"
            href="https://github.com/jotaulian"
            tono="indigo-950"
          >
            <GithubIcon class="size-6" />
          </BtnElevator>

          <BtnElevator
            title="julianeggle@hotmail.com"
            titleHover="Send me an email"
            href="mailto:julianeggle@hotmail.com"
            tono="indigo-950"
          >
            <SendEmailIcon class="size-6" />
          </BtnElevator>
        </div>
      </div>
      <div class="w-full aspect-square rounded-[24px] overflow-hidden">
        <Image
          class="w-full aspect-square hover:scale-110 transition duration-500"
          src={profilePic}
          alt="profile picture"
        />
      </div>
    </section>

    <div
      class="max-w-[1120px] mx-auto grid gap-3 md:gap-6 md:grid-cols-5 md:grid-row-3"
    >
      <!-- Experience -->
      <section
        class="w-full bg-white rounded-[24px] border border-gray-300 shadow p-6 hover:border-indigo-300 transition md:col-span-3 md:row-span-3"
      >
        <!-- Title -->
        <div class="max-w-[1120px]">
          <SectionTitle title="Professional experience" />
          <ExperienceTimeline />
          <BtnElevator
            title="Download CV"
            titleHover="For more details"
            href="#"
          >
            <DownloadIcon class="size-6" />
          </BtnElevator>
        </div>
        <!-- Experience content -->
      </section>

      <!-- Technologies -->
      <section
        class="w-full mx-auto bg-white rounded-[24px] border border-gray-300 shadow p-6 hover:border-indigo-300 transition md:col-span-2 md:row-span-1"
      >
        <div class="max-w-[1120px]">
          <SectionTitle title="Technologies" />
        </div>
        <div class="flex flex-wrap gap-8">
          <VueIcon class="size-24" />
          <VueIcon class="size-24" />
        </div>
      </section>
      <!-- Another -->
      <section
        class="w-full mx-auto bg-white rounded-[24px] border border-gray-300 shadow p-6 hover:border-indigo-300 transition md:col-span-2 md:row-span-2"
      >
        <div class="max-w-[1120px]">
          <SectionTitle title="More about me" />
        </div>
        <div class="flex flex-wrap gap-4">
          <div class="text-5xl">asdasdasd</div>
        </div>
      </section>
    </div>

    <!-- Projects -->
    <section
      class="w-full max-w-[1120px] mx-auto bg-white rounded-[24px] border border-gray-300 shadow p-6 hover:border-indigo-300 transition"
    >
      <div class="max-w-[1120px]">
        <SectionTitle title="Selected works" />
      </div>
    </section>

    <!-- Contact banner -->
    <ContactBanner />
  </main>
</Layout>
