<div
  class="absolute top-0 -left-4 w-80 h-80 bg-indigo-400 rounded-full mix-blend-multiply filter blur-2xl opacity-40 animate-blobdown"
>
</div>
<div
  class="absolute top-50 -right-4 w-80 h-80 bg-amber-500 rounded-full mix-blend-multiply filter blur-2xl opacity-40 animate-blobleftdown"
>
</div>
<div
  class="absolute bottom-3 left-50 w-80 h-80 bg-fuchsia-500 rounded-full mix-blend-multiply filter blur-2xl opacity-40 animate-blobup"
>
</div>
