<section
  class="max-w-[1120px] mx-auto bg-gradient-to-r from-indigo-800/90 to-indigo-700/90 rounded-[24px] shadow p-7 text-white text-center"
>
  <div class="text-5xl font-bold mb-4">Ready to collaborate?</div>
  <div class="text-2xl font-semibold mb-4">Let's start working together!</div>
  <div>
    <a
      href="mailto:julianeggle@hotmail.com"
      class="inline-block text-2xl border border-white py-4 px-8 rounded-full hover:bg-fuchsia-400 active:scale-95 transition"
      >Send me an email</a
    >
  </div>
</section>
