---
import "@fontsource-variable/nunito-sans";
import BlurBlobs from "../components/BlurBlobs.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="px-3 pb-8 space-y-3 md:space-y-6">
    <!-- <div class="fixed left-0 top-0 bg-red-500 h-full w-full z-40"></div> -->
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div
        class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
      >
        <div class="max-w-[1120px] h-full mx-auto relative">
          <BlurBlobs />
        </div>
      </div>
    </div>
    <Header />
    <div>
      <slot />
    </div>
    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Nunito Sans Variable", sans-serif;
      }

      body {
        /* background: linear-gradient(
      176deg,
      rgb(255, 255, 255) 50%,
      rgb(224, 224, 234) 100%
    ); */
        background-color: rgb(228, 228, 228);
        min-height: 100vh;
        background-attachment: fixed;
        color: rgb(30 27 75);
      }
    </style>
  </body>
</html>
